body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  box-sizing: border-box;
}

header {
  background-color: #004c8f;
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;
}

.nav-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav-bar a {
  color: #b6ddff;
  font-weight: bold;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.endpoint-card {
  background-color: #b6ddff;
  border-radius: 10px;
  border: #6cbaff solid 1px;
  margin-bottom: 10px;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

pre {
  white-space: pre;
  overflow-x: auto;
  background-color: #1b3349;
  color: #ffffff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: inset 0 4px 12px black;
  line-height: 1.5;
}

code {
  font-size: smaller;
}
