body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  box-sizing: border-box;
}

header {
  background-color: #004c8f;
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;
}

.nav-bar {
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.nav-bar a {
  float: left;
  font-size: 16px;
  text-align: center;
  color: #b6ddff;
  font-weight: bold;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-bar a:hover,
.dropdown:hover .dropbtn {
  background-color: #004c8f;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.endpoint-card {
  background-color: #b6ddff;
  border-radius: 10px;
  border: #6cbaff solid 1px;
  margin-bottom: 10px;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

pre {
  white-space: pre;
  overflow-x: auto;
  overflow: auto;
  background-color: #1b3349;
  color: #ffffff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: inset 0 4px 12px black;
  line-height: 1.5;
}

code {
  font-size: smaller;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #004c8f;
  color: white;
  text-align: center;
}
